**/bin/
**/obj/
**/node_modules/
**/dist/
**/coverage/
**/test-results/
**/.umi*/
**/.env
**/.env.*
**/.DS_Store
**/.idea/
**/.vscode/
**/.vs/
**/TestResults/
.git/
.gitignore
README.md
docs/
demos/
tools/
